---
Checks: -*,
        clang-analyzer-core.uninitialized,
        cppcoreguidelines-pro-type-cstyle-cast,
        google-global-names-in-headers,
        misc-unused-alias-decls,
        misc-unused-parameters,
        misc-unused-using-decls,
        modernize-use-nullptr
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
