stages:
  - build

image: gcc:7

.release_only_template: &release_only
  only:
    - tags
    - /^[\d-]+-release

build:default:
  stage: build
  script:
  - cd build && make ARCH=x86_64
  artifacts:
    expire_in: 1 week
    paths:
      - build/hypervisor-x86_64

build:release:
  stage: build
  script:
  - cd build && make ARCH=x86_64
  artifacts:
    paths:
      - build/hypervisor-x86_64
  <<: *release_only
